<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="packt_helloworld_display_text">
        <observer name="ma_display_text" instance="Packt\HelloWorld\Observer\ChangeDisplayText" />
    </event>
    <event name="packt_helloworld_rating">
        <observer name="movie_raing_change_save_before" instance="Packt\HelloWorld\Observer\ChangeRating" />
    </event>
</config>
