<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
                id="Packt_HelloWorld::helloworld"
                title="Magenest"
                module="Packt_HelloWorld"
                sortOrder="50"
                parent="Magento_Backend::marketing"
                resource="Packt_HelloWorld::helloworld"
        />
        <add
                id="Packt_HelloWorld::index"
                title="Hello Magenest"
                module="Packt_HelloWorld"
                sortOrder="55"
                parent="Packt_HelloWorld::helloworld"
                action="helloworld/index/"
                resource="Packt_HelloWorld::index"
        />
        <add
                id="Packt_HelloWorld::movie"
                title="Movie"
                module="Packt_HelloWorld"
                sortOrder="70"
                parent="Packt_HelloWorld::helloworld"
                action="helloworld/movie/"
                resource="Packt_HelloWorld::movie"
        />
        <add
                id="Packt_HelloWorld::actor"
                title="Actor"
                module="Packt_HelloWorld"
                sortOrder="70"
                parent="Packt_HelloWorld::helloworld"
                action="helloworld/actor/"
                resource="Packt_HelloWorld::actor"
        />
        <add
                id="Packt_HelloWorld::director"
                title="Director"
                module="Packt_HelloWorld"
                sortOrder="70"
                parent="Packt_HelloWorld::helloworld"
                action="helloworld/director/"
                resource="Packt_HelloWorld::director"
        />

    </menu>
</config>